/* Estilos base */

:root{
    --primary-100:#0085ff;
    --primary-200:#69b4ff;
    --primary-300:#e0ffff;
    --accent-100:#006fff;
    --accent-200:#e1ffff;
    --text-100:#FFFFFF;
    --text-200:#9e9e9e;
    --bg-100:#1E1E1E;
    --bg-200:#2d2d2d;
    --bg-300:#454545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-100);
    font-size: 1rem;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

/*Fondo*/
.background-section {
    position: relative;
}

.background-section::before {
    content: "";
    background-size: cover;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
/*Fondo para Home*/
.bg-home::before {
    background-image: url(../assets/home/mobile.jpg);
}

/*Fondo para Servicios*/
.bg-servicios {
    background-color: var(--primary-200);
}


/* ----------------- */



/* Estilos para el Header */
.navbar {
    background: var(--bg-100);
}

.navbar-brand{
   font-weight: bold;
   font-size: 1.2rem;
}

.space{
    width: 100%;
    justify-content: space-between;
}

.nav-iconos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.nav-iconos a {
    color: var(--text-100);
    margin: 0 0.5rem;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--primary-200);
}

.nav-link:focus, .nav-link:hover {
    color: var(--primary-300);
}


/*------------------------ */



/* Estilos para el Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 70px);
    height: 100%;
    position: relative; 
}

main h1 {
    text-align: center;
    font-size: 3rem;
    color: var(--text-100);
    font-family: 'Archivo Black', sans-serif;
    margin: 0;
}

.h3 {
    text-align: center;
    font-size: 1rem;
    color: var(--text-200);
}

.box-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 

.h3-margin {
    margin-bottom: 2rem;
}


.btn-primary{
    border: 3px solid var(--primary-300);
    background-color: transparent;
    color: var(--primary-300);
    border-radius: 1.5rem;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px 10px;
}
.btn-primary:hover, .btn-primary:active{
    color: var(--text-100);
    background-color: var(--primary-200);
    border: 3px solid var(--accent-200);
    border-radius: 1.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 5px 10px;
}

.active{
    background: transparent;
}

.circle{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: var(--primary-200);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-100);
    position: fixed;
    bottom: 5px;
    right: 20px;
    text-align: center;
}

.circle p {
    font-size: 0.65rem;
    margin: 0;
    padding: 0;
    color: var(--text-100);
}


/* --------------------- */

/*Estilos para main de servicios*/

.row{
    height: min-content; 
    justify-content: space-around; 
} 

.h1-servicios {
    margin: 1rem;
    color: var(--bg-200);
}

.card{     
   background-color: var(--accent-200); 
   color: var(--bg-100);
   border: 3px solid var(--bg-200); 
   border-radius: 10px; 
   max-width: 80%;   
   padding: 0px !important;
   margin: 1rem;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    color: var(--text-100);
    background-color: var(--bg-200);
    width: 100%;
}

.card-text{
    padding: 1rem 0.5rem; 
    font-size: 1rem;
    font-weight: bold;
}
/*------------------------------*/


/*Estilos para main de Profesional*/

.container-profesional{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin: 1rem 2rem !important; 
    height: auto;
}

.container-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-profesional{
    background-color: var(--accent-200);
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    border: 4px solid var(--bg-200);
    border-radius: 10px;
    margin: 0rem 1.5rem 2rem 1.5rem; 
    color: var(--bg-100);
    transition: 0.5s;

}

.card-profesional:hover {
    cursor: pointer;
    box-shadow: 2px 2px 15px 2px var(--text-200);;
}

.bg-circle-user{
    background-color: var(--primary-200);
    border-radius: 50%;
    padding: 1px;
    margin-right: 2px;
}

.card-profesional p{
    font-weight: bold;
    margin: 0 0 0 0.5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------------------------*/

/* Estilos para el main de fecha*/

.monthly{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.monthly p{
    margin: 0 ;
    font-weight: bold;
}

.monthly img{
    vertical-align: sub;
    margin-left: 5px;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: var(--accent-100);
    border: 3px solid var(--bg-100); 
    color: var(--text-100);
}

.container-date{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.container-date p{
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.container-date small {
    font-size: 0.7rem;
}

.btn-hours{
    margin-bottom: 0.5rem;
    padding-right: 1px;
    padding-left: 1px; 
}

.btn-continuar{
    color: var(--bg-100);
    border-color: var(--bg-100);
    transition: 0.3s;
}

.btn-continuar:hover{
    color: var(--text-100);
    background-color: var(--bg-300);
    border-color: var(--accent-200);
}


/*-----------------------------*/ 

/* Estilos para el main de Confirmacion de turno*/

.container-modal{
    background-color: rgb(177, 226, 245);
    border: 3px solid var(--bg-100);
    border-radius: 10px;
    margin: 0 1rem;
    font-size: 0.9rem;
}

.price-title{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--accent-100);
}

.container-first-info{
    width: 100%;
}
.bg-first-info{
    background-color: var(--primary-200);
    border-left:  solid var(--bg-100);
    border-top-right-radius: 10px;
    font-weight: bold;
    padding: 7px 5px;
}

.container-secondary-info{
    width: 100%;
}

.bg-secondary-info{
    background-color: var(--bg-300);
    border-left: 4px solid var(--bg-100);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    padding: 7px 5px;
    color: var(--text-100);
    width: 100%;
}

.border-none{
    border-bottom-right-radius: 0;
}

.textarea-comment{
    background-color: whitesmoke;
    border-left: 4px solid var(--bg-100);
    width: 100%;
    height: 150px;
    border-bottom-right-radius: 10px;
    resize: none;
    border-top: 1px solid var(--bg-100);
    padding: 0.5rem;
}
.textarea-comment:focus{
    outline: none;
}
/*----------------------------------------------*/


/*Estilos para el main de turno completado */
.bg-secondary-info-confirmed{
    background-color: var(--bg-300);
    border-bottom: 1px solid var(--bg-100);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    padding: 7px 5px;
    color: var(--text-100);
    width: 100%;

}

.bg-secondary-info-confirmed-brother{
    background-color: var(--bg-300);
    border-top: 1px solid var(--bg-100);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    padding: 7px 5px;
    color: var(--text-100);
    width: 100%;
    margin-bottom: 1rem;
}

.check{
    padding: 5px;
}

/*------------------------------------*/

/* Estilos para el Footer */

footer {
    background-color: var(--bg-100);
    color: var(--text-100);
}

footer section {
    margin: 2rem 0;
}

footer section a {
    margin: 0 1rem;
}

footer small{
    margin: 0 1rem;
    text-align: center;
    font-size: 0.6rem;
}

.carousel-item img {
    width: 100%;
    object-fit: cover;
}



/* --------------------- */

/*// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .bg-home::before {
        background-image: url(../assets/home/tablet.jpg);
    }
    .bg-servicios::before {
        background-image: url(../assets/servicios/tablet.jpg);
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    .circle{
        width: 80px;
        height: 80px;
    }
    .border-md{
        border: 5px solid var(--bg-200);
        margin-bottom: 1rem;
        border-radius: 10px;
        padding: 0; 
    }
    .md-header{
        height: 40px;   
        padding: 0 1rem !important;  
    }
    .card-header:first-child {
        border-radius: 0; 
    }
    
    
    .card-text{
        padding: 0; 
        width: 100%;  
    }
    .border-md p{
        font-size: 1.2rem;
    }
    /*Aqui estan los texto responsive para Tablet*/
    .navbar-brand{
        font-size: 1.5rem; 
     }
     
     .card{ 
        border-radius: 0; 
        margin: 0; 
     }
    main h1 {
        font-size: 4rem;
    }

    .h3 {
        font-size: 1.2rem;
    }
    .btn-primary{
        font-size: 1.2rem;
    }
    .btn-primary:hover{
        font-size: 1.3rem;
    }
    .circle p {
        font-size: 0.9rem;
    }

    /*Propiedades responsive para la screen Servicios */
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .bg-home::before {
        background-image: url(../assets/home/desktop.jpg);
    }
    .border-md{
        border: 5px solid var(--bg-200);
        margin-bottom: 1rem;
        border-radius: 10px;
    }
    .circle{
        width: 100px;
        height: 100px;
    }
    .border-md{
        border: none;
        margin-bottom: 1rem; 
    }
    .border-md p{
        font-size: 1rem;
    }
    .card{
        width: 100%;
        height: 100%;  
     }
     .card-text{
    width: 100%;  
    height: 100%;
    padding: 1rem 
    }

     .row{
        justify-content: space-around; 
        height: auto; 
     }
    /*Aqui estan los texto responsive para Desktop*/
    main h1 {
        font-size: 5rem;
    }
    .navbar-brand{
        font-size: 1.7rem; 
     }

    .h3 {
        font-size: 1.4rem;
    }
    .btn-primary{
        font-size: 1.4rem;
    }
    .btn-primary:hover{
        font-size: 1.5rem;
    }
    .circle p {
        font-size: 1rem;
    }
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}