/* Estilos base */

:root{
    --primary-100:#0085ff;
    --primary-200:#69b4ff;
    --primary-300:#e0ffff;
    --accent-100:#006fff;
    --accent-200:#e1ffff;
    --text-100:#FFFFFF;
    --text-200:#9e9e9e;
    --bg-100:#1E1E1E;
    --bg-200:#2d2d2d;
    --bg-300:#454545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-100);
    font-size: 1rem;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ----------------- */



/* Estilos para el Header */
.navbar {
    background: var(--bg-200);
}

.navbar-brand{
   font-weight: bold;
}

.nav-iconos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0; 
}

.nav-iconos a {
    color: var(--text-100);
    margin: 0 0.5rem;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--primary-200);
}


/*------------------------ */


 
/* Estilos para el Main Home */

.bg-home{
    width: 100%;
    background: 
    linear-gradient(30deg,rgba(20, 20, 20, 0.5),rgb(0, 0, 0)), url(../assets/home/mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    min-height: calc(100vh - 56px);
    max-height: 100%;
}

main h1 {
    text-align: center;
    font-size: 3rem;
    color: var(--text-100);
    font-family: 'Archivo Black', sans-serif;
    margin: 0;
}

.circle{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: var(--primary-200);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-100);
    position: fixed;
    bottom: 5px;
    right: 20px;
    text-align: center;
}

.circle p {
    font-size: 0.65rem;
    margin: 0;
    padding: 0;
    color: var(--text-100);
}

/*-----------------------------*/




/* --------------------- */

/*Estilos para main de servicios*/

.bg-servicios {
    background-color: var(--primary-200);
}

.card-servicios{
    border: 1px solid var(--bg-100);  
    background-color: var(--primary-300);
    height: 100%;
}

.bg-title{
    background-color: var(--bg-300);
    color: var(--text-100);
    border-bottom: 2px solid var(--bg-100); 
}

.h1-servicios {
    margin-top: 56px; 
    color: var(--bg-200);
}

.carousel-item img{
    width: 100%;
    max-height: 350px;
}

.caja{
    position: relative;
}

.boton{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 10px 10px 0;
    font-weight: bold;
    background-color: var(--primary-200);
    border: 4px solid var(--primary-300);
    border-radius: 999px;
    color: var(--text-100);
}
/*------------------------------*/


/*Estilos para main de Profesional*/

.container-card-avatar{
    gap: 2.5%;
    padding: 5%;
}

.card-profesional{
    background-color: var(--primary-300);
    border-radius: 20px;
    margin: 3rem 0; 
    border: 3px solid var(--bg-300);
    padding: 3rem 20px 1rem 20px; 
    position: relative;
    box-shadow: 2px 2px 15px 2px var(--bg-300);
}

.bg-circle-user{
    background-color: var(--bg-300);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100px;
    width: 100px;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.bg-circle-user img{
    aspect-ratio: 1/1;
    border: 2px solid var(--bg-300);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: 0.3s;
    object-fit: cover;
}

.bg-circle-user img:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out; 
}

/*-----------------------------*/

/* Estilos para el main de fecha*/

.dates{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    height: 100px;
    width: 100%;
}

.btn-container-date, .btn-container-date:hover{
    color: var(--text-200);
    background-color: var(--primary-300);
    border: 2px solid var(--text-200); 
    border-radius: 10px;
    transition: 0.4s; 
    height: 90%;
    width: 25%;
    padding: 0;
}

.btn.active, .btn.active:hover{
    background-color: var(--accent-100);
    border: 1px solid var(--bg-300); 
    color: var(--text-100);
}

.separador{
    display: block;
    width: 90%;
    margin: 1rem 0; 
    border-bottom: 1px solid var(--bg-300);
    opacity: 0.4;
}

.time{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 2%;
    width: 100%;
}

.btn-time, .btn-time:hover{
    background-color: var(--primary-200);
    color: #686868;
    border: 1px solid var(--bg-300); 
    transition: 0.4s;
}

.container-hours, .container-hours:hover{
    height: 50%;
    width: 40%;
}

.box-responsive{
    width: 90%;
}

.container-info{
    background-color: rgba(93, 159, 226, 0.4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    padding: 1rem;
    margin: 1rem 0 1rem 0;
}

.info-finally{

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.container-img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.container-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.more-services{
    align-self: flex-start;
    display: flex;
    margin: 0 0 3rem 0rem;
}

.more-services img {
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out;
}

.more-services:hover img {
    transform: rotate(180deg);
}

.more-services-link:hover{
    color: var(--primary-100);
    text-decoration: underline;
}


/*-----------------------------*/ 

/* Estilos para el main de Confirmacion de turno*/

.container-modal{
    background-color: rgb(177, 226, 245);
    border: 3px solid var(--bg-100);
    border-radius: 10px;
    margin: 0 1rem;
    font-size: 0.9rem;
}

.price-title{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--accent-100);
}

.container-first-info{
    width: 100%;
}
.bg-first-info{
    background-color: var(--primary-200);
    border-left:  solid var(--bg-100);
    border-top-right-radius: 10px;
    font-weight: bold;
    padding: 7px 5px;
}

.container-secondary-info{
    width: 100%;
}

.bg-secondary-info{
    background-color: var(--bg-300);
    border-left: 4px solid var(--bg-100);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    padding: 7px 5px;
    color: var(--text-100);
    width: 100%;
}

.border-none{
    border-bottom-right-radius: 0;
}

.textarea-comment{
    background-color: whitesmoke;
    border-left: 4px solid var(--bg-100);
    width: 100%;
    height: 150px;
    border-bottom-right-radius: 10px;
    resize: none;
    border-top: 1px solid var(--bg-100);
    padding: 0.5rem;
}
.textarea-comment:focus{
    outline: none;
}
/*----------------------------------------------*/


/*Estilos para el main de turno completado */
.bg-secondary-info-confirmed{
    background-color: var(--bg-300);
    border-bottom: 1px solid var(--bg-100);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    padding: 7px 5px;
    color: var(--text-100);
    width: 100%;

}

.bg-secondary-info-confirmed-brother{
    background-color: var(--bg-300);
    border-top: 1px solid var(--bg-100);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    padding: 7px 5px;
    color: var(--text-100);
    width: 100%;
    margin-bottom: 1rem;
}

.check{
    padding: 5px;
}

/*------------------------------------*/

/* Estilos para el Footer */

footer {
    background-color: var(--bg-100);
    color: var(--text-100);
}

footer section {
    margin: 2rem 0;
}

footer section a {
    margin: 0 1rem;
}

footer small{
    margin: 1rem 1rem;
    text-align: center;
    font-size: 0.6rem;
}



/* --------------------- */

/*// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .container-card-avatar{
        padding: 0; 
    }
    
    .bg-home {
        min-height: calc(100vh - 60px);
        max-height: 100%;
        background: 
        linear-gradient(30deg,rgba(20, 20, 20, 0.5),rgb(0, 0, 0)), url(../assets/home/tablet.jpg);
        background-size: cover;
    }
    /*Main de Fechas*/
    .btn-container-date, .btn-container-date:hover{
        width: 15%;
    }
    .container-hours, .container-hours:hover{
        height: 50%;
        width: 25%;
    }
    .box-responsive{
        width: 80%;
    }
    /*----------------*/
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    /*Navbar-Tablet*/
    .navbar-brand{
        font-size: 1.5rem; 
     }
    /*-------------*/

    /*Estilos para Main Home*/
    main{
        min-height: calc(100vh - 60px);
    }
     main h1 {
        font-size: 4rem;
    }
    .h3 {
        font-size: 1.2rem;
    }
    /*----------------------------*/

    /*Estilos para el main de Profesionales*/

    
    /*--------------------------------*/
    .border-md{
        border: 5px solid var(--bg-200);
        margin-bottom: 1rem;
        border-radius: 10px;
        padding: 0; 
    }
    .md-header{
        padding: 1rem 1rem !important;  
    }
    .border-md p{
        font-size: 1.2rem;
    }
    /*Aqui estan los texto responsive para Tablet*/



    .btn-primary{
        font-size: 1.2rem;
    }
    .btn-primary:hover{
        font-size: 1.3rem;
    }
    .circle p {
        font-size: 0.9rem;
    }

    /*Propiedades responsive para la screen Servicios */

    /*Main de Fechas*/
    .btn-container-date, .btn-container-date:hover{
        width: 10%;
    }
    .container-hours, .container-hours:hover{
        height: 50%;
        width: 15%;
    }
    /*----------------*/
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    /*Imagen de fondo para Home*/
    main{
        min-height: calc(100vh - 50px);
        max-height: 100%; 
    }
    .bg-home {
        min-height: calc(100vh - 64px); 
        background: 
        linear-gradient(30deg,rgba(20, 20, 20, 0.5),rgb(0, 0, 0)), url(../assets/home/desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    /*-------------------------*/
    /*Navbar-Desktop*/
    .navbar-brand{
        font-size: 1.7rem; 
     }
    /*-------------*/

    /*Estilos para Main*/
    main h1 {
        font-size: 5rem;
    }
    /*-----------------*/
    /*Estilos para el main de Home*/
    .h3 {
        font-size: 1.4rem;
    }
    /*----------------------------*/
    
    /*Estilos para el main de Profesionales*/
    

    /*--------------------------------*/
    .container-p-lg{
        height: 170px;
    }

    .border-md{
        border: 5px solid var(--bg-200);
        margin-bottom: 1rem;
        border-radius: 10px;
    }
    .circle{
        width: 100px;
        height: 100px;
    }
    .border-md{
        border: none;
        margin-bottom: 1rem; 
    }
    .border-md p{
        font-size: 1rem;
    }

     .card-text{
    width: 100%;  
    height: 100%;
    padding: 1rem 
    }

    /*Aqui estan los texto responsive para Desktop*/

    .btn-primary{
        font-size: 1.4rem;
    }
    .btn-primary:hover{
        font-size: 1.5rem;
    }
    .circle p {
        font-size: 1rem;
    }

    /*Main de Fechas*/
    .btn-container-date, .btn-container-date:hover{
        width: 8%;
    }
    .container-hours, .container-hours:hover{
        height: 50%;
        width: 10%;
    }
    .box-responsive{
        width: 80%;
    }
    .more-services{
        margin-left: 2rem;
    }
    /*----------------*/
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}