@import '../base/vars';

/* Titulo y background de Main */
.bg-home{
    width: 100%;
    background: 
    linear-gradient(30deg,rgba(20, 20, 20, 0.5),rgb(0, 0, 0)), url(../assets/home/mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    min-height: calc(100vh - 56px);
    max-height: 100%;
}

main h1 {
    text-align: center;
    font-size: 3rem;
    color: $--text-100;
    font-family: 'Archivo Black', sans-serif;
    margin: 0;
}



/* Circulo flotante de turnos en linea*/
.circle{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: $--primary-200;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5px;
    right: 20px;
    text-align: center;
}

.circle p {
    font-size: 0.65rem;
    margin: 0;
    padding: 0;
    color: $--text-100;
}

.flex-box-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Media Queries*/

/*// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .bg-home {
        min-height: calc(100vh - 60px);
        max-height: 100%;
        background: 
        linear-gradient(30deg,rgba(20, 20, 20, 0.5),rgb(0, 0, 0)), url(../assets/home/tablet.jpg);
        background-size: cover;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    /*Navbar-Tablet*/
    .navbar-brand{
        font-size: 1.5rem; 
     }

    /*Estilos para Main Home*/
    main{
        min-height: calc(100vh - 60px);
    }
     main h1 {
        font-size: 4rem;
    }
    .h3 {
        font-size: 1.2rem;
    }

    /*Aqui estan los texto responsive para Tablet*/
    .btn-primary{
        font-size: 1.2rem;
    }
    .btn-primary:hover{
        font-size: 1.3rem;
    }
    .circle p {
        font-size: 0.7rem;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    /*Imagen de fondo para Home*/
    .bg-home {
        min-height: calc(100vh - 64px); 
        background: 
        linear-gradient(30deg,rgba(20, 20, 20, 0.5),rgb(0, 0, 0)), url(../assets/home/desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    /*Navbar-Desktop*/
    .navbar-brand{
        font-size: 1.7rem; 
     }

    /*Estilos para el main de Home*/
    .h3 {
        font-size: 1.4rem;
    }
    main h1 {
        font-size: 5rem;
    }

    .circle{
        width: 100px;
        height: 100px;
    }

    /*Aqui estan los texto responsive para Desktop*/

    .btn-primary{
        font-size: 1.4rem;
    }
    .btn-primary:hover{
        font-size: 1.5rem;
    }
    .circle p {
        font-size: 1rem;
    }
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}