@import '../base/vars';

.container-card-avatar{
    gap: 2.5%;
    padding: 5%;
}

.card-profesional{
    background-color: $--text-100;
    border-radius: 20px;
    margin: 3rem 0; 
    border: 3px solid $--bg-300;
    padding: 3rem 20px 1rem 20px; 
    position: relative;
    box-shadow: 2px 2px 15px 2px $--bg-300;
    width: 80%;
}

.bg-circle-user{
    background-color: $--bg-300;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100px;
    width: 100px;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.bg-circle-user img{
    aspect-ratio: 1/1;
    border: 2px solid $--bg-300;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: 0.3s;
    object-fit: cover;
}

.bg-circle-user img:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out; 
}

/*// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .card-profesional{
        width: 45%;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .card-profesional{
        width: 30%;
    }
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}
