footer {
    background-color: $--bg-100;
    color: $--text-100;
}

footer section {
    margin: 2rem 0;
}

footer section a {
    margin: 0 1rem;
}

footer small{
    margin: 1rem 1rem;
    text-align: center;
    font-size: 0.6rem;
}