@import '../base/vars';

.navbar {
    background-color: $--bg-100;
        &-brand-logo{
            width: 40px; 
            height: 40px;
            margin-right: 1rem; 
            img{
                object-fit: contain; 
                border-radius: 50%; 
            }
        }
     &-iconos{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0; 
        a {
            color: $--text-100;
            margin: 0 0.5rem;
        }
    }   
    .active {
        color: $--primary-200 !important;
    }
}

