/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  background-color: #1E1E1E;
}

.navbar {
  background-color: #1E1E1E;
}
.navbar-brand {
  font-weight: bold;
}
.navbar-iconos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.navbar-iconos a {
  color: #FFFFFF;
  margin: 0 0.5rem;
}
.navbar .active {
  color: #69b4ff !important;
}

footer {
  background-color: #1E1E1E;
  color: #FFFFFF;
}

footer section {
  margin: 2rem 0;
}

footer section a {
  margin: 0 1rem;
}

footer small {
  margin: 1rem 1rem;
  text-align: center;
  font-size: 0.6rem;
}

/* Titulo y background de Main */
.bg-home {
  width: 100%;
  background: linear-gradient(30deg, rgba(20, 20, 20, 0.5), rgb(0, 0, 0)), url(../assets/home/mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  min-height: calc(100vh - 56px);
  max-height: 100%;
}

main h1 {
  text-align: center;
  font-size: 3rem;
  color: #FFFFFF;
  font-family: "Archivo Black", sans-serif;
  margin: 0;
}

/* Circulo flotante de turnos en linea*/
.circle {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #69b4ff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5px;
  right: 20px;
  text-align: center;
}

.circle p {
  font-size: 0.65rem;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.flex-box-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Media Queries*/
/*// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .bg-home {
    min-height: calc(100vh - 60px);
    max-height: 100%;
    background: linear-gradient(30deg, rgba(20, 20, 20, 0.5), rgb(0, 0, 0)), url(../assets/home/tablet.jpg);
    background-size: cover;
  }
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  /*Navbar-Tablet*/
  .navbar-brand {
    font-size: 1.5rem;
  }
  /*Estilos para Main Home*/
  main {
    min-height: calc(100vh - 60px);
  }
  main h1 {
    font-size: 4rem;
  }
  .h3 {
    font-size: 1.2rem;
  }
  /*Aqui estan los texto responsive para Tablet*/
  .btn-primary {
    font-size: 1.2rem;
  }
  .btn-primary:hover {
    font-size: 1.3rem;
  }
  .circle p {
    font-size: 0.7rem;
  }
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  /*Imagen de fondo para Home*/
  .bg-home {
    min-height: calc(100vh - 64px);
    background: linear-gradient(30deg, rgba(20, 20, 20, 0.5), rgb(0, 0, 0)), url(../assets/home/desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  /*Navbar-Desktop*/
  .navbar-brand {
    font-size: 1.7rem;
  }
  /*Estilos para el main de Home*/
  .h3 {
    font-size: 1.4rem;
  }
  main h1 {
    font-size: 5rem;
  }
  .circle {
    width: 100px;
    height: 100px;
  }
  /*Aqui estan los texto responsive para Desktop*/
  .btn-primary {
    font-size: 1.4rem;
  }
  .btn-primary:hover {
    font-size: 1.5rem;
  }
  .circle p {
    font-size: 1rem;
  }
}
/*// X-Large devices (large desktops, 1200px and up)*/
/*// XX-Large devices (larger desktops, 1400px and up)*/
.bg-servicios {
  background-color: #69b4ff;
}

.card-servicios {
  border: 1px solid #1E1E1E;
  background-color: #e0ffff;
  height: 100%;
}

.bg-title {
  background-color: #454545;
  color: #FFFFFF;
  border-bottom: 2px solid #1E1E1E;
}

.h1-servicios {
  padding-top: 70px;
  margin-bottom: 20px;
  color: #2d2d2d;
}

.carousel-item img {
  width: 100%;
  max-height: 350px;
}

.caja {
  position: relative;
}

.boton {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 10px 10px 0;
  font-weight: bold;
  background-color: #69b4ff;
  border: 4px solid #e0ffff;
  border-radius: 999px;
  color: #FFFFFF;
}

/*// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/
/*// Small devices (landscape phones, 576px and up)*/
/*// Medium devices (tablets, 768px and up)*/
/*// Large devices (desktops, 992px and up)*/
/*// X-Large devices (large desktops, 1200px and up)*/
/*// XX-Large devices (larger desktops, 1400px and up)*/
.container-card-avatar {
  gap: 2.5%;
  padding: 5%;
}

.card-profesional {
  background-color: #FFFFFF;
  border-radius: 20px;
  margin: 3rem 0;
  border: 3px solid #454545;
  padding: 3rem 20px 1rem 20px;
  position: relative;
  box-shadow: 2px 2px 15px 2px #454545;
  width: 80%;
}

.bg-circle-user {
  background-color: #454545;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100px;
  width: 100px;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.bg-circle-user img {
  aspect-ratio: 1/1;
  border: 2px solid #454545;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 0.3s;
  object-fit: cover;
}

.bg-circle-user img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

/*// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .card-profesional {
    width: 45%;
  }
}
/*// Medium devices (tablets, 768px and up)*/
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .card-profesional {
    width: 30%;
  }
}
/*// X-Large devices (large desktops, 1200px and up)*/
/*// XX-Large devices (larger desktops, 1400px and up)*/
/* Estilos para el main de fecha*/
.dates {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  width: 100%;
}

.btn-container-date, .btn-container-date:hover {
  color: #9e9e9e;
  background-color: #e0ffff;
  border: 2px solid #9e9e9e;
  border-radius: 10px;
  transition: 0.4s;
  height: 90%;
  width: 25%;
  padding: 0;
}

.btn.active, .btn.active:hover {
  background-color: #006fff;
  border: 1px solid #454545;
  color: #FFFFFF;
}

.separador {
  display: block;
  width: 90%;
  margin: 1rem 0;
  border-bottom: 1px solid #454545;
  opacity: 0.4;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  width: 100%;
}

.btn-time, .btn-time:hover {
  background-color: #69b4ff;
  color: #686868;
  border: 1px solid #454545;
  transition: 0.4s;
}

.container-hours, .container-hours:hover {
  height: 50%;
  width: 40%;
}

.box-responsive {
  width: 90%;
}

.container-info {
  background-color: rgba(93, 159, 226, 0.4);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
}

.info-finally {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.container-img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.container-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.more-services {
  align-self: flex-start;
  display: flex;
  margin: 0 0 3rem 0rem;
}

.more-services img {
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out;
}

.more-services:hover img {
  transform: rotate(180deg);
}

.more-services-link:hover {
  color: #0085ff;
  text-decoration: underline;
}

/*// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  /*Main de Fechas*/
  .btn-container-date, .btn-container-date:hover {
    width: 15%;
  }
  .container-hours, .container-hours:hover {
    height: 50%;
    width: 25%;
  }
  .box-responsive {
    width: 90%;
  }
  /*----------------*/
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  /*Aqui estan los texto responsive para Tablet*/
  .btn-primary {
    font-size: 1.2rem;
  }
  .btn-primary:hover {
    font-size: 1.3rem;
  }
  .circle p {
    font-size: 0.9rem;
  }
  /*Main de Fechas*/
  .btn-container-date, .btn-container-date:hover {
    width: 12%;
  }
  .container-hours, .container-hours:hover {
    height: 50%;
    width: 15%;
  }
  /*----------------*/
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  /*Aqui estan los texto responsive para Desktop*/
  .btn-primary {
    font-size: 1.4rem;
  }
  .btn-primary:hover {
    font-size: 1.5rem;
  }
  .circle p {
    font-size: 1rem;
  }
  /*Main de Fechas*/
  .btn-container-date, .btn-container-date:hover {
    width: 10%;
  }
  .container-hours, .container-hours:hover {
    height: 50%;
    width: 10%;
  }
  .box-responsive {
    width: 80%;
  }
  .more-services {
    margin-left: 2rem;
  }
  /*----------------*/
}
/*// X-Large devices (large desktops, 1200px and up)*/
/*// XX-Large devices (larger desktops, 1400px and up)*/
/* Estilos para el main de Confirmacion de turno*/
.container-modal {
  background-color: rgb(177, 226, 245);
  border: 3px solid #1E1E1E;
  border-radius: 10px;
  margin: 0 1rem;
  font-size: 0.9rem;
}

.price-title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #006fff;
}

.container-first-info {
  width: 100%;
}

.bg-first-info {
  background-color: #69b4ff;
  border-left: solid #1E1E1E;
  border-top-right-radius: 10px;
  font-weight: bold;
  padding: 7px 5px;
}

.container-secondary-info {
  width: 100%;
}

.bg-secondary-info {
  background-color: #454545;
  border-left: 4px solid #1E1E1E;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
  padding: 7px 5px;
  color: #FFFFFF;
  width: 100%;
}

.bg-circle {
  background-color: #e0ffff;
  padding: 1px;
  border-radius: 50%;
}

.border-none {
  border-bottom-right-radius: 0;
}

.textarea-comment {
  background-color: whitesmoke;
  border-left: 4px solid #1E1E1E;
  width: 100%;
  height: 150px;
  border-bottom-right-radius: 10px;
  resize: none;
  border-top: 1px solid #1E1E1E;
  padding: 0.5rem;
}

.textarea-comment:focus {
  outline: none;
}

/*Estilos para el main de turno completado */
.bg-secondary-info-confirmed {
  background-color: #454545;
  border-bottom: 1px solid #1E1E1E;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
  padding: 7px 5px;
  color: #FFFFFF;
  width: 100%;
}

.box-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-circle {
  background-color: #e0ffff;
  padding: 1px;
  border-radius: 50%;
}

.bg-secondary-info-confirmed-brother {
  background-color: #454545;
  border-top: 1px solid #1E1E1E;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  padding: 7px 5px;
  color: #FFFFFF;
  width: 100%;
  margin-bottom: 1rem;
}

.check {
  padding: 5px;
}

/*# sourceMappingURL=main.css.map */
