/* Estilos base */

:root{
    --nav-bg-negro: #161616;
    --bg-verde: #37E367;
    --bg-blanco: #ffffff;
    --bg-gris-oscuro: #302E2E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 1rem;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}
/* ----------------- */




/* Estilos para el Header */
header{
    height: 15vh;
    background-color: #2C3E50;
    color: #ffffff;
}

.nav{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-bg-negro);
}

.nav h2{
    font-size: 2rem;
}

.nav__box{
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 0.5rem 1rem;
}

.nav__box a {
    font-size: 1.2rem;
    font-weight: bold;
}


/* Estilos Header Screen Profesional*/
.screen__profesional{
    justify-content: space-between;
}
/* ------------------- ------------- */


/* -----------------------*/



/*Estilos para el Main*/


main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2.5rem;
    background: 
    linear-gradient(143deg, #144637 4.27%, rgba(0, 0, 0, 0.00) 35.47%), 
    linear-gradient(130deg, #000 59.38%, #000E12 74.7%, #061F27 86.45%, #002733 92.9%, #003141 97.21%, #004358 100%);
}

main h1 {
    text-align: center;
    color: var(--bg-verde);
    font-size: 2rem;
}

/*Servicios*/

.container{
    width: 100%;
    color: var(--bg-blanco);

}

.container__box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-gris-oscuro);
    border-radius: 12px;
    border: 4px solid var(--bg-verde);
    padding: 10px 15px; 
    box-shadow: 4px 4px 15px 0 rgba(55, 227, 103, 0.35);
    margin: 1.5rem 0;
}

.tiempo_servicio{
    margin-left: 4px;
    font-weight: bold;
    font-size: 0.7rem;
}

.precio{
    display: inline-block;
    text-align: end;
    width: 45%;
    margin-right: 10px;
}


/*Profesional */


.container__profesional{
    justify-content: start;

}

.container__img__item {
    background-color: #d9d9d9;
    height: 30px;
    width: 30px;
    border-radius: 999px;
    display: grid;
    place-items: center;
    margin-right: 10px;
}

.contenedor_avatar {
    background: #ffffff;
    margin: 3rem auto;
    border: solid 4px #D9D9D9;
    border-radius: 8px;
    width: 35%;
    height: 50px;
    text-align: left;
    color: #161616;
}

.contenedor_avatar a {
    color: #161616;
    width: 100%;
}

.contenedor_avatar_icono , .name_profesional{
    vertical-align: middle;
    margin-top: 5px;
}

.contenedor_avatar_icono {
    display: inline-block;
    text-align: center;
    background: #D9D9D9;
    width: 30px;
    height: 30px;
    border-radius: 999px;
    margin-left: 10px;
}

.name_profesional{
    display: inline-block;
    margin-left: 10px;
}


/*Horarios*/

.container_date {
    margin: 2rem auto;
}

.mes span{
    color: #2C3E50;
    font-weight: bold;
    font-size: 2rem;
}

.mes img{
    vertical-align: sub;
}

.mes{
    margin: 2rem;
}

.contenedor_horarios{
    background: #ffffff;
    margin: 1rem auto;
    border: solid 4px #D9D9D9;
    border-radius: 8px;
    width: 35%;
    height: 50px;
    text-align: left;
    color: #161616;
}

.contenedor_horarios a {
    color: #161616;
}

.container_name img {
    vertical-align: middle;
}

.avatar_icono_horarios {
    display: inline-block;
    text-align: center;
    background: #D9D9D9;
    width: 30px;
    height: 30px;
    border-radius: 999px;
    margin-top: 3px;
    margin-left: 200px;
}


/*Confirmar Turno */

.container_modal{
    width: 70%;
    height: 80%;
    margin: 0 auto;
    border: solid 1px #161616;
    border-radius: 20px;
}

.confirmacion_header {
    width: 50%;
    margin: 1rem auto;
    padding-bottom: 0.5rem ;
    border-bottom: 2px dashed #161616;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.modal_info{
    border: 1px solid #161616;
    margin-bottom: 1rem;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.informacion_turnos{
    width: 40%;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: bold;
}

.turno {
    background: #2C3E50;
    text-align: left;
    width: 27%;
    color: #ffffff;
    height: 35px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.turno img{
    vertical-align: middle;
}

.primera_informacion {
    text-align: left;
    border-bottom: 1px solid #161616;
}

.nombre_avatar{
    display: inline-block;
}

.nombre_avatar img {
    vertical-align: middle;
}

.inline {
    display: inline-block;
    margin-left: 6rem;
}

.inline img {
    vertical-align: middle;
}

.segunda_informacion {
    text-align: left;
    border-bottom: 1px solid #161616;
}

.duracion {
    display: inline-block;
}

.minutos {
    font-size: small;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 4rem;
}

.tercera_informacion {
    text-align: left;
    border-bottom: 1px solid #161616;
}

.gift{
    margin-top: 2rem;
}

.descuento{
    font-size: x-small;
}

.trash{
    display: inline-block;
    margin-left: 9rem;  
}

.texttarea {
    width: 100%;
    height: 100px;
    border-radius: 8px;
    border: solid 1px #161616;
    resize: none;
}

.button{
    margin-top: 1rem;
    background: #E74C3C;
    border: 4px solid #FF9F9F;
    border-radius: 999px;
    padding: 0.7rem 0;
}

.button a {
    color: #ffffff;
    text-decoration: none;
}

.mas_servicios{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.mas_servicios u{
    color: #161616;

}
/* ----------------------*/



/* parrafos */

p {
    font-weight: bold;

}


.ultimo_parrafo {
    width: 100%;
    color: var(--bg-blanco);
    text-align: center;
    margin-top: 2rem;
}


/* ----------------------*/


/* Estilos para el Footer */

footer{
    display: flex;
    align-items: end;
    height: 15%;
    width: 100%;
    background-color: var(--nav-bg-negro);
    color: var(--bg-blanco);
    
}

footer small {
    text-align: center;
}

/* -----------------------*/

